doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/dashBoard.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css')
  body(ng-app='myApp1', ng-controller='createlistctrllr')
    section#section-first
      nav.navbar.navbar-custom
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') DASHBOARD
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
          // /.navbar-collapse
        // /.container-fluid
    .row
      .col-md-6.col-md-offset-3
        ul.list-group
          input.form-control(type='text', placeholder="Recipient's username", aria-describedby='basic-addon2', ng-model='newItemName')
          input.form-control(type='text', placeholder="Recipient's email", aria-describedby='basic-addon2', ng-model='newItemEmail')
          input.form-control(type='text', placeholder="Recipient's catagory", aria-describedby='basic-addon2', ng-model='newItemCatagory')
          button.btn.btn-primary.btn-md(ng-click='addItem()') Add User
      section#section-second.container-fluid
        .row
          .col-xs-12
            .col-md-4(ng-repeat='(key,value) in obj')
              ul.list-group
                li.list-group-item.set-center
                  | {{key.toUpperCase()}}
                  a.ion-ios-download.send-mail-ionicon.round-icon(data-toggle='modal', ng-click='setKeyVal(key)', data-target='#myModal')
                li.list-group-item(ng-repeat='(key1,value1) in value')
                  span.badge {{value1.email}}
                  span.username {{value1.fname}}
      section#section-third-model
        // Modal
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Enter Message Body
              .modal-body Do you want to Save this list?
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='savelist(saveList)') Save List
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')
    script(src='javascripts/createlistApp.js')
    script.
      function setMasonry() {
        $('.grid').masonry({
          itemSelector: '.grid-item',
          percentPosition: true
        });
      }
