doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/dashBoard.css')
  body(ng-app='myApp', ng-controller='parentCtrll')
    section#section-first
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') DASHBOARD
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/createList') Create List
          // /.navbar-collapse
        // /.container-fluid
    section#section-second.container-fluid
      .row.grid
        .col-md-4.grid-item(ng-repeat='(key,value) in obj')
          ul.list-group
            li.list-group-item.set-center
              | {{key.toUpperCase()}}
              a.ion-trash-a.delete-list(ng-click='onDelete(key)')
            li.list-group-item(ng-repeat='(key1,value1) in value')
              span.badge {{value1.email}}
              | {{value1.fname}}
            button#showarea.list-group-item.list-group-item-action(type='button', ng-click='sendmail(key)') Send Mail
            textarea#textarea(name='text')
            button#textarea-ok(name='ok', type='button', value='Ok')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='javascripts/indexApp.js')
    script.
      function setMasonry() {
        $('.grid').masonry({
          itemSelector: '.grid-item',
          percentPosition: true
        });
      }
      $("#textarea, #textarea-ok").hide(); // or you can have hidden w/ CSS
      $("#showarea").click(function(){
        $("#textarea").show();
      });
      $("#textarea-ok").click(function(){
        $("#textarea").hide();
      });
